{% extends "base.html.twig" %}
{% block title %}USCC Timetable{% endblock %}
{% block description %}USCC combined timetable for today & tomorrow{% endblock %}
{% block container %}

	<section>
		<table class="table table-bordered table-striped table-responsive table-condensed table-hover">
			<thead>
				<tr>
					<th>Направление</th>
					<th>№ рейса</th>
					<th>Тип ВС</th>
					<th>Ожидаемое время</th>
					<th>Авиакомпания</th>
				</tr>
			</thead>
			<tbody>
				{% for flight in data %}
					<tr>
						<td>{{ flight.route }}</td>
						<td>{{ flight.flight_num }}</td>
						<td>{{ flight.plane }}</td>
						<td>{{ attribute(flight, 'time_est/_source') }}</td>
						<td>{{ flight.ak }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
